*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* LOGO */
#logo{
    width: 100px;
}
#logo img{
    width: 100%;
}

/* STRUCTURE */
.input__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: aquamarine;
}
#input{
   display: flex;
   align-items: center;
   gap: 20px; 
}
#input__text{
    padding: 10px;
    border-radius: 10px;
    border: none;
    border: solid rgb(0, 0, 0, 0.5) 1px;
}
#button{
    padding: 5px;
    cursor: pointer;
}

#input__results__container{
    margin-top: 30px;
    text-align: center;
}
.task{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 5px;
    margin-top: 5px;
    border-bottom: solid black 1px;
}
.cross{
    padding-left: 20px;
    cursor: pointer;
}
.cross:hover{
    color: red;
}