<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <title>Tasks</title>
</head>
<body>

    <div id="app">
        
        
        <section class="input__container">

            <!-- LOGO -->
            <div id="logo">
                <img :src="logo" alt="">
            </div>

            <!-- Input textBox & Button -->
            <div id="input">
                <input id="input__text" type="text" placeholder="Add Task" v-model="newTask">
                <button id="button" @click="addTask">&plus; Add</button>

                <!-- ERRORE -->
                <!-- <div class="error">
                    <small style="color: red;">Devi inserire una task di almeno 5 caratteri</small>
                </div> -->

            </div>
            
            <!-- Results Of inputBox & Button -->
            <div id="input__results__container">
                <!-- Have Tasks! -->
                <ul>
                    <li class="task" v-for="task in tasks">
                        {{task.text}}
                        <i class="fas fa-times cross"></i>
                    </li>
                </ul>
                <!-- No Have Tascks -->
                <h2>Non ho nulla da fareeee!!</h2>
            </div>
            
        </section>
    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="js/index.js"></script>
</body>
</html>